.Account_Page {
  padding: 0 6% 20px 6%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #f5f5f5;
}

.Account_Page_ToolBar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  color: white;
  background: rgba(0, 0, 0, 1);
  height: 50px;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.Account_Page_Menu_Btn {
  width: 60px;
  height: 50px;
  background: transparent;
  display: inline-block;
  position: relative;
  color: #23282d;
  cursor: pointer;
  right: 50px;
}

.Account_Page_Menu_Btn::after {
  content: "";
  position: absolute;
  right: 0em;
  top: 1em;
  border: 0.5em solid;
  border-color: transparent #ffffff transparent transparent;
}

.Account_Page_Menu_Btn:hover::after {
  border-color: #ffb600 transparent transparent transparent;
}

.Account_Page_Menu_Btn:hover .Account_Page_Drop_Down_Menu {
  display: block;
  margin-top: -5px;
}

.Account_Page_Drop_Down_Menu li {
  display: inline-block;
}

.Account_Page_Drop_Down_Menu > li > a:hover {
  border-bottom: #ffb600 2px solid;
}

.Account_Page_Drop_Down_Menu {
  display: none;
  position: absolute;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
  direction: rtl;
  right: 0;
}

.Account_Page_Drop_Down_Menu > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin: 5px 0;
}

.Account_Page_Drop_Down_Menu > li > a > img {
  width: 35px;
  margin: 15px;
  border-radius: 50%;
}

.Account_Page_Drop_Down_Menu > li > a > p {
  width: 100%;
  margin-left: 50px;
}

.Account_Page_Menu_Btn_Img {
  width: 80%;
  height: 100%;
  border-radius: 50%;
}

.Account_Page_Cover_Image {
  margin-bottom: 20px;
}

.Left_Side_Bar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}

.Right_Side_Bar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}

.Main {
  flex-basis: 47%;
}

.Profile_Post {
  background: #fff;
}
.Profile_Post_Input {
  padding: 20px 25px 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.Profile_Post_Input img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.Profile_Post_Input textarea {
  width: 100%;
  border: 0;
  background: transparent;
  margin-top: 8px;
  font-size: 14px;
  color: #777;
  resize: none;
  outline: 0;
  direction: rtl;
}

::placeholder {
  font-weight: 500;
}

.Profile_Post_Links {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.Profile_Post_Links li {
  list-style: none;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  flex-basis: 25%;
  height: 40px;
  font-size: 13px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Profile_Post_Links li img {
  width: 15px;
  margin-left: 5px;
}

.Profile_Post_Links li:last-child {
  background: #045be6;
  color: #fff;
  border-top: 0;
  border-left: 0;
}

.Profile_Post_Sort_By {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 10px 0;
}

.Profile_Post_Sort_By hr {
  flex: 1;
  border: 0;
  height: 1px;
  background: #ccc;
}

.Profile_Post_Sort_By p {
  font-size: 13px;
  padding-right: 5px;
}

.Profile_Post_Sort_By p span {
  font-weight: 600;
  cursor: pointer;
}

.Profile_Post_Sort_By p span img {
  width: 12px;
  margin-right: 3px;
}

.Profile_Single_Post {
  background: #fff;
  padding: 20px 25px 5px;
  margin: 5px 0 15px;
}

.Post_Author {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin-bottom: 20px;
}

.Post_Author img {
  width: 35px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 5px;
}

.Post_Author h1 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  direction: rtl;
}

.Post_Author small {
  display: block;
  margin-bottom: -2px;
  direction: rtl;
}

.Profile_Single_Post p {
  font-size: 14px;
  margin-bottom: 15px;
  direction: rtl;
}

.Profile_Post_Stat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}

.Profile_Post_Stat div {
  display: flex;
  align-items: center;
}

.Profile_Post_Stat img {
  width: 25px;
  margin-left: -5px;
}

.Profile_Post_Likers {
  margin-right: 10px;
  direction: rtl;
}

.Profile_Post_Activity {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
}

.Profile_Post_Activity div {
  display: flex;
  align-items: center;
}

.Profile_Post_Activity_User_Icon {
  width: 25px;
  border-radius: 50%;
}

.Profile_Post_Activity_Arrow_Icon {
  width: 15px;
  margin-right: 5px;
}

.Profile_Post_Activity_Link {
  displsy: flex;
  flex-direction: row-reverse;
}

.Profile_Post_Activity_Link img {
  width: 15px;
  margin-left: 8px;
}

// Profile_Box
.Profile_Box {
  background: #fff;
}

.Profile_Info {
  padding: 0 25px;
  direction: rtl;
  background: #fff;
}

.Profile_Info img {
  width: 90px;
  border-radius: 50%;
  background: #fff;
  padding: 4px;
  margin-top: -45px;
}

.Profile_Info h1 {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.Profile_Info h3 {
  font-size: 14px;
  font-weight: 500;
  color: #777;
}

.Profile_Info ul {
  list-style: none;
  margin: 20px 0;
}

.Profile_Info ul li {
  width: 100%;
  margin: 5px 0;
  font-size: 13px;
}

.Profile_Info ul li span {
  float: left;
  color: #045be6;
}

.Profile_Link {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  background: #fff;
}

.Profile_Link a {
  flex-basis: 50%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 15px 0;
  font-size: 13px;
  border-right: 1px solid #ccc;
}

.Profile_Link a:last-child {
  border-right: 0;
}

.Profile_Link a img {
  width: 20px;
  margin: 0 10px;
}

.Profile_Activity {
  background: #fff;
  margin: 5px;
  margin: 12px 0;
  padding: 25px 25px;
}

.Profile_Activity h3 {
  direction: rtl;
  font-size: 14px;
  font-weight: 500;
  color: #777;
  margin: 20px 0 10px;
}

.Profile_Activity a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #888;
  margin: 3px 0;
}

.Profile_Activity a img {
  width: 20px;
  margin-left: 10px;
}

.Profile_Discover_More {
  border-top: 1px solid #ccc;
  text-align: center;
  margin-top: 20px;
  margin-left: -25px;
  margin-right: -25px;
}

.Profile_Discover_More a {
  color: #045be6;
  display: inline-block;
  margin: 10px 0;
}

.Profile_News {
  padding: 10px 25px;
  background: #fff;
  direction: rtl;
}

.Profile_Info_Icon {
  width: 15px;
  float: right;
}

.Profile_News h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 10px 0 30px;
}

.Profile_News a {
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: -5px;
}

.Profile_News span {
  font-size: 12px;
}

.Profile_News .Profile_Read_More_Link {
  color: #045be6;
  font-weight: 500;
  margin: 20px 0 10px;
}

.Profile_Add {
  background: #fff;
  padding: 15px 25px;
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
}

.Profile_Add img {
  width: 60px;
  margin: 40px;
  border-radius: 50%;
}

.Profile_Add small {
  float: right;
  font-weight: 500;
}

.Profile_Add p {
  margin-top: 30px;
  margin-bottom: 10px;
}

.Profile_Add b {
  display: block;
  font-weight: 500;
  margin-top: 10px;
}

.Profile_Ad_Link {
  display: inline-block;
  border: 1px solid #045be6;
  border-radius: 30px;
  padding: 5px 15px;
  color: #045be6;
  font-weight: 500;
  margin: 20px auto 10px;
}

.Profile_Useful_Links {
  padding: 15px 25px;
  text-align: center;
}

.Profile_Useful_Links a {
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}

.Profile_Copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
}

.Profile_Copyright img {
  width: 50px;
  margin-right: 4px;
}
