* {
  font-family: "Poppins", sans-serif;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.ToolBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  height: 50px;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.Logo {
  height: 20px;
}

.NavBarList {
  display: flex;
  list-style-type: none;
  direction: rtl;
  justify-content: space-evenly;
  align-items: center;
}

.NavBarList > li {
  margin-top: 0px;
  display: inline-block;
  position: relative;
}

.NavBarList > li > a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 0.3em 2em 0.5em 1.5em;
}

.NavBarList > li::after {
  content: "";
  position: absolute;
  right: 1em;
  top: 1em;
  border: 0.3em solid;
  border-color: transparent #ffb600 transparent transparent;
}

.DropDownMenu > li {
  display: block;
}

.DropDownMenu > li > a:hover {
  border-bottom: #ffb600 2px solid;
}

.DropDownMenu {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
}

.NavBarList > li:hover .DropDownMenu {
  display: block;
}

.NavBarList > li:hover::after {
  border-color: #ffb600 transparent transparent transparent;
}

.NavBarList > li > a:hover {
  border-bottom: #ffb600 2px solid;
}

.NavBarList > li > ul {
  list-style-type: none;
  padding-right: 0px;
  margin: 0px;
}

.DropDownMenu > li > a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 0.3em 1em;
}

.Login_Btn {
  display: inline-block;
  position: relative;
  background-color: #ffb600;
  color: #23282d;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  height: 40px;
  width: 150px;
  align-items: center;
  align-content: center;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0.3em 0.3em 0.3em 0.3em;
  margin-top: 10px;
  margin-bottom: 0px;
}

.Login_Btn::after {
  content: "";
  position: absolute;
  right: 0em;
  top: 1em;
  border: 0.3em solid;
  border-color: transparent #23282d transparent transparent;
}

.Login_Btn:hover::after {
  border-color: #ffb600 transparent transparent transparent;
}

.Login_List {
  list-style-type: none;
  display: none;
  z-index: 1000;
  width: 60%;
  position: absolute;
  z-index: 1000;
  background: #ffb600;
  margin-top: 6px;
  padding: 0px;
}

.Login_List > li {
  display: block;
  background-color: #ffb600;
  color: #23282d;
  height: 40px;
  padding: 0.3em 0.3em;
  margin: 0px;
}

.Login_List > li > a:hover {
  background-color: #23282d;
  color: #ffb600;
  border-bottom: #ffb600 2px solid;
}

.Login_List > li > a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #23282d;
  padding: 0.3em 1em;
}

.Login_Btn:hover {
  color: #ffb600;
  background-color: #23282d;
  border-bottom: #ffb600 2px solid;
}

.Login_Btn:hover .Login_List {
  display: block;
  background-color: #ffb600;
  color: #23282d;
}

.SearchServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 100px;
  margin-top: -50px;
  z-index: 1000;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  box-shadow: 10px 10px 20px #888888;
  position: relative;
}

.SearchServicesFixed {
  width: 100%;
  z-index: 500;
  position: fixed;
  top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  box-shadow: 10px 10px 20px #888888;
}

.SearchServicesTxtField {
  width: 400px;
  height: 40px;
  background-color: white;
  text-align: center;
  font-size: 17px;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: left;
}

.AutoComplete_Results {
  width: 400px;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  z-index: 1000;
  border: 1px solid #f2f2f2;
  box-shadow: 10px 10px 20px #888888;
  list-style-type: none;
  display: none;
  position: absolute;
  top: 60px;
}

.AutoComplete_Result_Items {
  color: white;
  font-size: large;
  padding: 10px;
  font-weight: bold;
}

.MostSearchedServices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px;
  width: 60%;
  padding: 10px;
}

.ServiceContainer {
  width: 100%;
  height: 300px;
  background-image: url("../images/services/service1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px 20px #888888;
  position: relative;
}

.ServiceContainer:hover {
  transform: scale(1.3);
}

.ServiceName {
  position: absolute;
  left: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.ServiceImg {
  background-color: #03632e;
  background-repeat: no-repeat;
  background-size: stretch;
  background-position: center;
}

.Cover {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  margin: 0px;
}

.Description {
  width: 200px;
  height: 50px;
}

.from {
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
}

.AccountLogin {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  box-shadow: 10px 10px 20px #888888;
  border-radius: 30px;
  align-items: center;
  background-color: #f2f2f2;
  justify-content: center;
  padding-left: 0%;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.Email_Password {
  outline: none;
  border: none;

  height: 40px;
  background-color: #f2f2f2;
  border-bottom: 1px solid rgb(9, 232, 9);
  background: transparent;
  text-align: center;
  display: block;
  font-size: 17px;
}

.LoginBtn {
  border: none;
  outline: none;
  height: 40px;
  width: 80%;
  background-color: #03632e;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 25px;
  padding: 1px 20px;
  margin: 10px auto;
}

.CreateAccountBtn {
  border: none;
  outline: none;
  height: 40px;
  width: 80%;
  background-color: rgb(9, 232, 9);
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 25px;
  padding: 1px 20px;
  margin: 10px auto;
}

.CreateAccountBtn:hover,
.LoginBtn:hover {
  background-color: #ff7800;
  color: white;
}

.Create_Account_Btn {
  text-decoration: none;
  color: white;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.Services {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
}

.DishAd {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  box-shadow: 10px 10px 20px #888888;
  border-radius: 30px;
  align-items: center;
  background-color: #f2f2f2;
  justify-content: baseline;
  justify-items: flex-start;
}

.ReadMoreBtn {
  color: rgb(9, 232, 9);
  background-color: transparent;
  border-color: rgb(9, 232, 9);
  outline: none;
  height: 40px;
  width: 40%;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 25px;
  padding: 1px 20px;
  margin: 10px auto;
}

.ReadMoreBtn:hover {
  background-color: rgb(9, 232, 9);
  color: white;
}

.Footer {
  background: rgba(0, 0, 0, 0.6);
  height: 10%;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

#Back_Top {
  position: fixed;
  bottom: 2em;
  right: 3em;
  background-color: rgba(255, 255, 255, 0.9);
  color: #313943;
  border: none;
  border-radius: 5px;
  padding: 1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  display: inline-block;
  opacity: 0;
  text-decoration: none;
  font-size: 0.75em;
}

#Back_Top.visible {
  opacity: 1;
}

#Back_Top:hover {
  background-color: #fff;
  padding: 1em 3em;
}

.UserSpace {
  display: flex;
  background-color: #f2edf3;
}

.Cover_Image {
  height: 450px;
  background-color: rgb(9, 232, 9);
}

.User_Pic {
  margin-top: -100px;
  border-radius: 250px;
  border: solid 3px white;
  margin-left: 80px;
  z-index: 10;
  position: absolute;
}

.LeftNavBar {
  background-color: white;
  min-height: 800px;
  flex: 1;
  margin: 20px;
  border: solid thin #aaa;
  padding: 10px;
}

.Posts {
  background-color: #f2edf3;
  min-height: 800px;
  flex: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.PostingPanel {
  border: solid thin #aaa;
  padding: 10px;
  background-color: white;
}

.Post_Text_Area {
  width: 100%;
  border: none;
  font-family: tahoma;
  font-size: 14;
}

.Post_Btn {
  float: right;
  padding: 4px;
  font-size: large;
  border-radius: 2px;
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #03632e;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.Post_Btn:hover {
  background-color: #ff7800;
  color: white;
}

.TimeLine {
  background-color: white;
  margin-top: 20px;
  padding: 10px;
}

.Single_Post {
  display: flex;
  padding: 10px;
  font-size: 13;
}

.warning {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}

.AutoComplete_Result_Items_Selected {
  border-bottom: #ffb600 2px solid;
}

.Slides_Container_Div {
  width: 100%;
  height: 600px;
  border: none;
  margin: 0px;
}

.Slider {
  display: flex;
  flex-direction: row;
  height: 600px;
  width: 100%;
  border: none;
  margin: 0px;
}

.Slides_Container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.Slide {
  position: absolute;
  width: 100%;
  text-align: center;
  transition: 1s;
  inset: 0;
}

.Slide > img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.Slide.Animated {
  -webkit-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
}

.Slides_Next_Btn,
.Slides_Previous_Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  z-index: 900;
  color: white;
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
}

.Slides_Next_Btn {
  right: 1rem;
}

.Slides_Previous_Btn {
  left: 1rem;
}

.Slides_Previous_Btn:hover {
  content: url(../IMAGES/arrow-left-over.svg);
}

.Slides_Next_Btn:hover {
  content: url(../IMAGES/arrow-right-over.svg);
}

.Cover_Image_Div {
  position: relative;
  justify-content: center;
  align-items: center;
}

.NavBar {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.NavBarBtn {
  background: transparent;
}

.Post_Description {
  padding-left: 20px;
  padding-right: 20px;
}
